* {
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
}

.color {
    display: flex;
    width: 20%;
    border: 1px solid black;
    color: white;
    align-items: center;
    justify-content: center;   
    text-shadow: 1px 1px 5px black ; 
}

.btn {
    position: fixed;
    top: 600px;
    left: 47%;
    cursor: pointer;
}

